:root{
    //PRIMARY COLORS
    --blue: #251B62;
    --blue-2: #3F2AC5;
    --blue-3: #71B9FC;
    --blue-extra: #2522BA;

    //SECUNDARY COLORS
    --purple: #4C1576;
    --purple-2: #8A2AC5;
    --purple-3:#C09BFB;

    --white: #F7F7F8;
    --white-2: #EDEDED;

    //COLOR TEXT
    --font-color: #333;
    --font-subText: #99A1AA;

    //FOOTER COLOR
    --footer-bg: #5956E9;
}

//VARIABLES CON SASS

//PRIMARY COLORS
$blue: #251B62;
$blue-2: #3F2AC5;
$blue-3: #71B9FC;
$blue-extra: #2522BA;

//SECUNDARY COLORS
$purple: #4C1576;
$purple-2: #8A2AC5;
$purple-3:#C09BFB;

$white: #F2F2F2;
$white-2: #EDEDED;

//COLOR TEXT
$font-color: #333;
$font-subText: #99A1AA;

//FOOTER COLOR
$footer-bg: #5956E9;
