.error-div{
    background-color: crimson;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}